/* src/ProfileRow.css */

.status-show {
  display: flex;
  justify-content: center;
}

.profile-row {
  display: flex;
  background-color: #3498db;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  /* margin: 10px 0; */
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  flex-grow: 1;
}

.icons {
  display: flex;
  gap: 20px;
}

.icon {
  cursor: pointer;
}

.icon-side {
  cursor: pointer;
  color: grey;
  float: right;
}

.user-list:hover {
  background-color: #0f6a83;
}

.clickedUserAtSidenav {
  background-color: #0f6a83;
}

.icon-smiley {
  color: rgb(199, 177, 54);
  padding: 10px;
  cursor: pointer;
}

.chatDemo {
  flex: content;
  background-image: url("https://i.imgur.com/wuUOgjC.jpeg");
  background-repeat: "no-repeat";
  background-size: contain;
}

.inside-chat-demo {
  display: flex;
  flex-direction: column;
  /* justify-content: center;s */
  color: whitesmoke;
  align-items: center;
  padding-top: 10%;
  /* height: 100vh; */
}

.img-chat-home {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 20px;
}
.user-detail-in-message {
  /* background-color: #ccc8c8; */
  font-weight: 100;
}

.username_in_chat {
  font-weight: 500;
  color: #3498db;
}

.member_count {
  color: #8b8989;
  font-size: small;
  padding-left: 10px;
}

.user_or_group-name {
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}

.namebar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.send_chat {
  background-color: #3498db !important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(138, 118, 118);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}
